/*---------------------------------*\
    $CONTENTS
\*---------------------------------*/
/**
 * CONTENTS................I'm here!
 * RESET...................The css reset defaults.
 * FONT-FACE...............Import font files.
 * GLOBAL-SETTINGS.........Set global variables and settings.
 * HEADER..................Style main header, include logo and navigation bar.
 * HERO....................Style hero section
 * ANIMATIONS...............Animation keyframe
 * HEADER..................Main header, include logo and navigation bar.
 * HERO....................Hero section
 * ANIMATIONS..............Animation keyframe
 * MEDIA-QUERIES...........Media queries (842px)
    * MD-HEADER................Main header
 */

/*---------------------------------*\
    $RESET
\*---------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------*\
    $FONT-FACE
\*---------------------------------*/
@font-face {
    font-family: "Ruhl";
    src: url("./fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
    font-family: "Ruhl Medium";
    src: url("./fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
    font-family: "Vibes";
    src: url("./fonts/GreatVibes-Regular.ttf");
}

/*---------------------------------*\
    $GLOBAL-SETTINGS
\*---------------------------------*/
html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big-text: calc(2.4rem + 1vw);
    --primary-clr: #cfb7b7;
    --gray-clr: #525252;
    --special-clr: #906272;
}

body {
    font-family: "Ruhl", sans-serif;
    animation: opening 1s ease-in-out;
}

h1 {
    font-size: var(--header1);
    font-family: "Vibes", sans-serif;
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4,
h5 {
    font-size: var(--header4);
}

li,
button,
label,
input,
p,
a {
    font-size: var(--text);
}

ul {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/*---------------------------------*\
    $HEADER
\*---------------------------------*/
.main-header {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

nav {
    width: 90%;
    min-height: 10vh;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#logo {
    flex: 1 1 20rem;
}

.navbar {
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-around;
}

.navbar li a {
    position: relative;
}

.navbar li a::before {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    background: #000;
    transition: all 0.5s ease-in-out;
}

.navbar li:hover a::before {
    transform: translateY(0.25rem);
    left: 0;
    right: 0;
}

.burger,
.burger-check {
    display: none;
}

/*---------------------------------*\
    $HERO
\*---------------------------------*/
.hero {
    min-height: 90vh;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-intro {
    flex: 2 1 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-intro h2 {
    padding: 3rem 0 5rem 0;
}

.hero-intro p {
    padding: 0 3rem 5rem;
}

.hero-intro a {
    padding: 2rem 8rem;
    border: 3px solid #000;
    margin-bottom: 3rem;
}

.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dacdc4, #ffffff);
    position: relative;
    z-index: 1;
}

.hero-elena {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    max-height: 100%;
    bottom: 0;
    left: -20%;
    z-index: -1;
    animation: plant-enterence 1.5s ease-in-out 0.5s forwards,
        plant-shake 2.5s infinite ease-in-out alternate-reverse 2s;
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
    transform-origin: bottom;
}

.plant2 {
    left: 40%;
}

/*---------------------------------*\
    $ANIMATIONS
\*---------------------------------*/
@keyframes opening {
    from {
        opacity: 0;
    }
    to {
        opacity: q;
    }
}

@keyframes plant-enterence {
    from {
        transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
    }
    to {
        transform: translateY(0) rotateZ(0) rotateX(0);
    }
}

@keyframes plant-shake {
    from {
        transform: rotateZ(-5deg);
    }
    to {
        transform: rotateZ(0);
    }
}

/*---------------------------------*\
    $MEDIA-QUERIES
\*---------------------------------*/
@media screen and (max-width: 842px) {
    /* $MD-HEADER */
    .main-header {
        position: relative;
    }

    .burger {
        display: block;
        z-index: 5;
    }

    .burger span {
        display: block;
        padding: 0.2rem 2rem;
        margin: 0.5rem 0;
        background: var(--gray-clr);
        transition: all 0.5s ease-in-out;
    }

    .burger-check {
        display: block;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(5%, -50%);
        width: 4.5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 6;
    }

    .burger-check:checked ~ .burger span:nth-child(1) {
        transform: rotateZ(45deg) translateY(300%);
    }

    .burger-check:checked ~ .burger span:nth-child(2) {
        opacity: 0;
    }

    .burger-check:checked ~ .burger span:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-300%);
    }

    .burger-check:checked ~ .burger span {
        background: #fff;
    }

    .burger-check:checked + .navbar {
        transform: translateX(-100%);
    }

    .navbar {
        background: linear-gradient(
            45deg,
            var(--primary-clr),
            var(--special-clr)
        );
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        transition: transform 1s ease;
    }

    .navbar a {
        color: #fff;
        font-size: var(--big-text);
    }
}
